*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
}

body {
    background-size: cover;
}
.container {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

#header-img {
    height: 5rem;
    position: fixed;
    left: 0;
    z-index: 1;
    background-color: black;
    margin: 1rem 0 0 1rem;
}

#nav-bar {
    background-color: black;
    position: fixed;
    right: 0;
    padding: 4rem;
}

.nav-link {
    text-decoration: none;
}

#nav-bar,
header {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: black;
}

.features {
    display: flex;
}

.features-container1 {
}

.video1 {
}
.features-container2 {
}

.video2 {
}
.features-container3 {
}

.video3 {
}

.video-title {
}

.video-description {
}

#form {
}

.news {
}

.updates {
}

.white {
}

#submit {
}

#footer {
}

.requirements {
}

.minimum-box {
}

.minimum-title {
}

.req-info {
}

.maximum-box {
}

.maximum-title {
}
